<mat-card class="patientcard">
  <mat-card-title>{{patient.name}}</mat-card-title>
  <mat-card-subtitle>{{patient.age}} ans</mat-card-subtitle>
  <mat-card-content>
    <div class="row">
        <div class="col-4">
          <span>Weight: {{patient.poids}}</span>
        </div>
        <div class="col-4">
          <span>Braden score: {{patient.bradenScore}}</span>
        </div>
        <div class="col-4">
          <img src="../../assets/{{patient.patientStatus}}.png" class="logo"/>
        </div>
    </div>
  </mat-card-content>
</mat-card>
